<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Scores are:</h1>
    <h2>

        <%= name[0].name %>: <%= name[0].score %> vs <%= name[1].name %>: <%= name[1].score %>


    </h2>
    <h3>
        <%= name[0].lastMove %> VS <%= name[1].lastMove %>
    </h3>
    <form action="/">
        <input id="names-submit" type="submit" value="Play Again?">
    </form>
</body>

</html>